.progress-bar {
  width: 100%;
  background-color: #adc8d1;
  border-radius: 4px;
}

.progress-bar-fill {
  height: 30px;
  background-color: #4c86af;
  border-radius: inherit;
  text-align: center;
  line-height: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.progress-header {
  color: black;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: left;
  font-size: 1.25rem;
}
